h1 {
    text-align: center;
}
.body {
    text-align: center;
    padding: 5%;
}
.card-body a {
    text-decoration: none;
}
.card-body a:hover {
    color: whitesmoke;
}
#comment-icon {
    float: left; 
    font-size: 10px;
}
