{% extends 'bootstrap/base.html' %}


{% block styles %} 
  {{ super() }}
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/footer.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/navbar.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/styles.css')}}">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

{% endblock %}

<!-- navbar & footer-->
{% block navbar %}

    {% include 'navbar.html' %}
    {% include 'footer.html' %}

{% endblock %}
