{% extends 'base.html' %}
{% import 'macros.html' as macro%}

{% block content %}

<div class="container-fluid">
  <div class="jumbotron">
    <h1>Welcome To Minute-Pitch!</h1>
  </div>
  <div class="row body">
    <div class="col-md-6 main">
      <h4><a href="/categories/pitches">View Pitches</a></h4> 
    </div>
    <div class="col-md-6 main">
      <h4><a href="/categories/pitches/new/"><i class="fa fa-plus"></i> Add Pitch</a></h4> 
    </div>
  </div>
  <div class="row">
    <div class="footer">
      <footer id="myFooter">
        <div class="container">
          <ul>
            <li><a href="#">About</a></li><span class="bullelements">&bull;</span>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <p class="footer-copyright">© Minute-Pitch 2018. All Rights Reserved.</p>
        <div class="footer-social">
          <a href="#" class="social-icons"><i class="fa fa-facebook"></i></a>
          <a href="#" class="social-icons"><i class="fa fa-google-plus"></i></a>
          <a href="#" class="social-icons"><i class="fa fa-twitter"></i></a>
        </div>
      </footer>
    </div>
  </div>
</div>

{% endblock %}